<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>[[${hotel}]]</h1>
    <div>
        <p>[[${country}]]</p>
        <p>[[${state}]]</p>
        <p>[[${zapCode}]]</p>
        <p>[[${city}]]</p>
        <p>[[${neighborhood}]]</p>
        <p>[[${number}]]</p>
        <p>[[${complement}]]</p>
    </div>
        <table>
            <tr>
                <th>nome</th>
                <th>documento</th>
                <th>email</th>
            </tr>
            <tr>
                <td>[[${client_name}]]</td>
                <td>[[${client_cpf}]]</td>
                <td>[[${client_email}]]</td>
            </tr>
        </table>
    
        <table>
            <tr>
                <th>tipo de quarto</th>
                <th>valor unitario</th>
                <th>quantidade de dias</th>
                <th>total</th>
            </tr>
            <tr>
                <td>[[${room_name}]]</td>
                <td>[[${room_value}]]</td>
                <td>[[${reservation_days}]]</td>
                <td>[[${reservation_total}]]</td>
            </tr>
        </table>
</body>
</html>